<div>

    <form action="/login" method="POST">
        <input id="username" name="username"type="text">
        <label for="">username</label>
        <input id="password" name="password" type="text">
        <label for="">password</label>
        <button type="submit">Entrar</button>
        <a href="../layouts/signup">registrarse</a>
    </form>

</div>