<div>
    <form action="/signup" method="POST">
        <input id="username" name="username"type="text">
        <label for="">username</label>
        <input id="password" name="password" type="text">
        <label for="">password</label>
        <button type="submit">loguear</button>
          <a href="/views/layouts/signup.hbs">iniciar sesion</a><button></button>
    </form>
</div>